.pannel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.left img {
  max-height: 30rem;
}

.left,
.right {
  padding: 5em 5em;
}

.right p {
  font-size: 2rem;
}

.right button {
  padding: 1rem;
  width: 15rem;
  background-color: brown;
  border-radius: 20px;
  cursor: pointer;
}
