html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

.content {
  min-height: calc(
    100vh - 40px
  ); /* Adjust according to the height of your footer */
  padding-bottom: 40px; /* Adjust according to the height of your footer */
  box-sizing: border-box;
}
